/**
 * This file is part of HTML2print.
 * 
 * HTML2print is free software: you can redistribute it and/or modify it under the
 * terms of the GNU Affero General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option) any
 * later version.
 * 
 * HTML2print is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
 * PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
 * details.
 * 
 * You should have received a copy of the GNU Affero General Public License along
 * with HTML2print.  If not, see <http://www.gnu.org/licenses/>.
 */


/**
 * The less CSS is splitted accross different files for a better organisation.
 *
 * This is the main less css file that defines custom values and requires all
 * the the neccessary dependencies.
 */



/**
 * THE CODE BELOW IS REQUIRED TO MAKE HTML2PRINT WORK.
 */



/**
 * Defines and loads the rules that set the geometry of the page and its
 * representation on screen. This is the core of html2print.
 *
 * Customize the variables to your needs.
 */

/* the geometry of the page */
@page-width: 482pt;
@page-height: 652pt;

/* the size of the crop marks based on scribus defaults */
@crop-size: 34pt;

/* the size of bleed */
@bleed: 14pt;

/* loads the core less file */
@import "html2print.less";


/**
 * THE CODE BELOW IS NOT REQUIRED TO MAKE HTML2PRINT WORK, ALTHOUGH IT PROVES
 * USEFUL IN MANY SITUATIONS.
 *
 * YOU ARE ENCOURAGED TO CUSTOMIZE IT TO YOU NEEDS.
 */



/**
 * Defines and generate helper css rules to absolutly position elements on a
 * grid.
 *
 * Customize the variables to your needs.
 */

@col-number: 9;
@col-gutter: 9pt;

//@row-number: 13;
@row-number: 12;
@row-gutter: 12pt;

@grid-color: rgba(255, 0, 0, 0.25);
@baseline-grid-color: rgba(0, 255, 255, 0.15);

/* Loads the rules for using grids */
@import "grid.less";



/**
 * Loads the rules to outline the main blocs
 */

@import "debug.css";



/**
 * Loads a few less helpers
 */

@import "mixins.less";



/**
 * Defines and loads the rules that set the base layout of the document
 * (header, body, footer)
 *
 * Customize the variables to your needs.
 */

// FIXME: make a case for single page layouts
@page-margin-inside: 38pt;
@page-margin-outside: 24pt;
@page-margin-top: 24pt;
@page-margin-bottom: 64pt;

@import "layout.less";


/**
 * Loads your own styles.
 *
 * Customize the file/path to you needs.
 */

/*@import '/vendors/reset-css/reset.css';*/
/*@import "../vendors/normalize.css/normalize.css";*/
/*@import "../vendors/normalize-opentype.css/normalize-opentype.css";*/
@import "fonts.css";
@import "colors.less";

@line-height: 12pt;
@import "styles.less";
