/**
 * CONTENT
 *
 * GENERAL STYLES                 OK
 *
 * SPECIFIC STYLES
 * edito                          ok
 * sommaire                       ok
 * rubric                         ok
 * pub
 * bd
 * enquete                        ok
 * page d'intro cahier 2
 * medor a colorier             ???
 * photo
 * portrait                    VERIF
 * moment flamand
 * recit
 * entretien                     ok
 * nombril de medor             VERIF
 * soutenir medor
 * couv
 */


/**
 * #VARIABLES
 */

:root {
    --line-height: 12pt;
}

@line-height: 12pt;

/**
 * #ADDITIONAL RESETS
 */

.page { text-rendering: optimizeLegibility; }

/**
 * For the HTML2print layout, which uses CSS regions,
 * do not break line if it means continuing in the next region
 */
h1,
h2,
h3,
.pull-out {
    -webkit-break-inside: avoid;
            break-inside: avoid;
}

/**
 * no hyphens there
 * https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens
 */
.lead,
.pull-out,
figcaption,
h1,
h2 {
    -webkit-hyphens: none;
       -moz-hyphens: none;
            hyphens: none;
}
em { font-style: italic;}
a {
    text-decoration: none;

    color: inherit;
}
sup { line-height: 0; } /* Fixes baseline issues */





/**
 * HACKS
 */

/**
 * Using CSS regions, left-sided ascents of text set in italic get clipped by
 * its container box. Fixes the bug by adding padding and restoring the offset
 * with negative margin.
 *
 * The bug is documented at <https://github.com/annulen/webkit/issues/278>
 */
article {
    margin-left: -10pt;
    padding-left: 10pt;
}

.keep {
    -webkit-hyphens: none;
       -moz-hyphens: none;
            hyphens: none;
    white-space: nowrap;
}





/**
 * #GENERAL-STYLES
 */

/**
 * Title of the rubric or article type
 *
 * 1. keeps the title on one line.
 * 2. we do not specify the color so it inherits from the `color` property.
 *    Useful to redefine altogether the color of the text and the border.
 */
.rubric-title {
    font-family: 'Erbarre';
    font-size: 14pt;
    font-weight: bold;
    line-height: var(--line-height);
    white-space: nowrap; /* [1] */

    float: left;

    margin-right: 6pt;
    margin-bottom: 2pt;
    padding: 30pt 6pt 6pt;

    text-transform: uppercase;

    border-right:  solid 2pt; /* [2] */
    border-bottom: solid 2pt; /* [2] */
    border-left:   solid 2pt; /* [2] */
}

/**
 * The last paragraph of the article finishes with a Medor dingbat
 */
article > p:last-of-type::after {
    font: 6.5pt 'Belogodor';

    content: '\00A0\E887';
}

/* Tiret avant le nom de l'auteur de la sitation */
.pull-out > blockquote footer:before {
    content: '— ';

    color: inherit;
}




/**
 * IMAGES
 */

/**
 * In our workflow, article figures -- usually images with or without a caption
 * -- are typically put in their own css flow and then flown into a `.bloc`
 * container.
 *
 * The rules below take care of the placement of the images, captions and
 * credits based on the geometry of their container.
 *
 * It ensures that the images fill the `.bloc` containers, puts the caption
 * below the images and the credits to the right.
 *
 * It assumes the following HTML structure:
 *
 *     <figure>
 *         <img alt="" src="..." />
 *         <figcaption>
 *             <p class="caption">Légende</p>
 *             <footer>Author <small>License</small></footer>
 *         </figcaption>
 *     </figure>
 *
 * Additional remarks below.
 *
 * 1. Makes the image fill the box homothetically and crops it in case it
 *    overflows the container.
 * 2. Since the figcaption element is absolutly positionned, it's size by
 *    default depends on its content. We give it a 100% size to ensure that the
 *    credits are positioned correctly to the right of the image.
 */


figure {
    position: relative;
    width: 100%;
    height: 100%;
}

figure img {
    position: absolute;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover; /* [1] */
}

figcaption {
    position: absolute;
    font: 7pt/8.5pt "Alfphabet";
    bottom: -12pt;
    width: 100%; /* [2]  */
}

figcaption footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 5pt;
    left: -webkit-calc(~"100% + 9pt"); /* For older webkits */
    left: calc(~"100% + 9pt");
    margin-bottom: 12pt;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
}

figcaption footer small {
    font-size: 5pt;
    line-height: 6pt;
}



/**
 * Signature
 *
 *     <footer>
 *         <p class="footer-byline">Prénom Nom <small>Licence</small></p>
 *         <p class="endnote">Info additionelle (bourse journalistique, etc.)</p>
 *     </footer>
 */

.footer-byline {
    font-family: 'Erbarre';
    font-size: 10pt;
    font-weight: bold;
    line-height: 13pt;
}

.footer-byline small {
    vertical-align: super;
    font-weight: normal;
    font-size: 6pt;
    line-height: 0;
}
aside.sidebar span {
  font-family: 'Erbarre';
  font-size: 10pt;
  font-weight: bold;
}
.endnote {
    font-family: 'Nobel';
    font-size: 7pt;
    line-height: 9pt;
    margin-bottom: 3pt;
}

/**
 * Footnotes.
 *
 * There is only one style of footnotes across the magazine. Only the place
 * might change according to the type of article. Footnotes structure must
 * follows the convention below:
 *
 *     <ol class="footnotes">
 *         <li><a name="sdfootnote1sym" href="#sdfootnote1anc">1</a>Footnotes 1</li>
 *     </ol>
 *
 * The footnote calls look like this
 *
 *     <a name="sdfootnote1anc" href="#sdfootnote1sym">1</a><sup>1</sup></a>
 *
 * 1. Hides the numbers in the HTML since it is redundant with the css numbered bullets.
 */

.footnotes {
    font: 7pt 'Alfphabet-Condensed';
    line-height: @line-height * .75;
    list-style: decimal inside;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
    -webkit-hyphenate-limit-after:  2; /* 3 caractères minimum en début de ligne, donc en fin de mot */
    -webkit-hyphenate-limit-lines:  4; /* 4 lignes consecutives max */
}

.footnotes li + li {
    margin-top: (@line-height / 8) * 3;
}

.footnotes a[name^='sdfootnote'] {
    display: none; /* [1] */
}

/**
 * Since we don't use CSS columns we need to create column rules ourselves.
 *
 * Assign `rule--right` or `rule--left` classes to any `bloc` container to draw
 * a faux column rule next to it.
 *
 * Although those rules are specified in the general style section, they apply
 * mainly to the rubrics.
 */

.rule--right:after,
.rule--left:before {
    position: absolute;

    height: 100%;

    content: ' ';
}

.rule--left:before {
    left: -5pt;

    border-left: 1pt solid black;
}

.rule--right:after {
    right: -5pt;

    border-left: 1pt solid black;
}





/**
 * #SPECIFIC-STYLES
 */






/**
 * #EDITORIAL
 */
.edito{
  font-family: 'Erbarre' ;
  /* font-size: 15pt; */
  /* line-height: 18pt; */
  font-size: 13pt;
  line-height: 15.5pt;
}
.edito .headline {
    font-size: 36pt;
    line-height: 36pt;
    margin-bottom: 18pt;
}

.edito > p {
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 5; /* 2 caractères minimum en fin de ligne, donc en début de mot */
    -webkit-hyphenate-limit-after:  5; /* 3 caractères minimum en début de ligne, donc en fin de mot */
    -webkit-hyphenate-limit-lines:  2; /* 3 lignes consecutives max */
}

.edito > p + p {
    text-indent: 24pt;
}

/* ne pas afficher les titres et sous-titres et le byline */
.edito .rubric-title,
.edito .rubric-subtitle,
.edito footer {
    display: none;
}

/* do not use italic at all */
/* .edito em { font-style: normal; } */

/* appels de notes */
.edito a sup {
    font-size: 7pt;
    position: relative;
    top: -3.5pt;
    padding-left: .125em;
}





/**
 * #TABLE OF CONTENT
 */

/* FIXME: desactiver les goutieres pour le sommaire! */

/* BLOCK */
.sommaire .cellule {
    /* -webkit-region-break-after: always; */
    /*         region-break-after: always; */
    padding: 8pt;
}
/* HEADLINE */
.sommaire .headline {
    font-family: 'Alfphabet-Condensed' ;
    font-size: 35pt ;
    font-weight: normal;

    margin-top: 5pt;
    margin-bottom: 25pt;
    margin-left: 4pt;
}
/* SAISON/DATE */
.sommaire .date {
    font-family: 'Alfphabet-Condensed';
    font-size: 12pt;

    margin-top: 0;

    text-align: left;

    color: black;
}
/* PAGE NUMBER */
.sommaire .pagination {
    font-family: 'Alfphabet-Condensed';
    font-size: 21pt ;
    font-weight: normal;
    line-height: 17pt;

    position: relative;

    float: right;

    margin-right: 6pt;
    margin-bottom: 6pt;

    text-align: right;

    color: black;
}
/* Style enquete */
.sommaire .som-grande-enquete {
    font-family: 'Erbar condensed';
    font-size: 38pt ;
    font-weight: bold;
    line-height: 30pt;

    margin-top: 4pt;
    margin-left: 6pt;

    text-transform: uppercase;

    color: black;
}
/* Stule petite enquete? */
.sommaire .som-petite-enquete {
    font-family: 'Erbarre' ;
    font-size: 18pt ;
    font-weight: bold;
    line-height: 16pt;

    margin-top: 4pt;
    margin-left: 6pt;

    letter-spacing: .05pt;
    text-transform: uppercase;

    color: black;
}
/* Style rubrique */
.sommaire .som-rubrique {
    font-family: 'career';
    font-size: 16pt ;
    font-weight: normal;
    line-height: 16pt;

    margin-top: 4pt;
    margin-left: 6pt;

    color: black;
}
/* Style phrase d'accroche */
.sommaire .phrase {
    font-family: 'Alfphabet-Condensed' ;
    font-size: 13pt;
    line-height: 14pt;

    margin-top: 2pt;
    margin-left: 6pt;

    text-align: left;
    text-transform: normal;

    color: black;
}
/* BORDER */

/* ONE HIDDEN BLOC! Permet à la "date" de se placer face au "Sommaire" sans faire apparaitre le cadre. */
.sommaire .background0bis {
    outline: none ;
    outline-offset: none;
}
/* All normal bloc */
.sommaire .bloc {
    position: absolute;

    box-sizing: border-box;
    padding: 8pt 20pt 5pt 10pt;

    outline: 4pt solid black;
    outline-offset: -2.5pt;
}





/**
 * #RUBRICS
 */

/* TOP OF THE PAGE,(header) presentation of the rubric subtitle */
.rubric-subtitle {
    font: 9pt 'Alfphabet-Condensed';
    white-space: nowrap; /* keeps the subtitle on one line */
    padding: 31pt 0 0 0; /* FIXME: revoir l'alignement */
}

.rubric-subtitle sup {
    vertical-align: super;
    font: 6pt/0 'Alfphabet';
    padding-left: .125em;
}


/**
 * header
 */
.rubric .headline {
    font: 42pt/36pt 'career';

    position: relative;
    z-index: 1000;

    clear: left;

    margin-top: 21px; /* FIXME: Pixel ou Point ?*/
    margin-bottom: @line-height;
    padding-top: 6pt * 1;

    text-align: center;
    letter-spacing: -1pt;
}
.rubric .header-byline { display: none; }
.rubric .lead { font: bold 15pt/15pt 'Erbarre'; }

/**
 * body text
 */
.rubric > h2 {
    font: 300 12pt/12pt 'Erbarre';
    text-transform: uppercase;
    margin: 8pt 0 4pt;
}

.rubric header + p::first-letter {
    font-family: 'Erbarre';
    font-weight: bold;

    font-size: (@line-height * 3.7);
    line-height: (@line-height * 2.2);

    position: relative;

    float: left;

    padding: 4.5pt 4pt 2pt 0pt;
}
.rubric > p {
    font: 10.4pt/@line-height 'Nobel';

    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
    -webkit-hyphenate-limit-after:  2; /* 3 caractères minimum en début de ligne, donc en fin de mot */
    -webkit-hyphenate-limit-lines:  3; /* 3 lignes consecutives max */
}
.rubric > p + p { text-indent: 9pt; } /* alinea */

/* Exposant dans le texte */
/* FIXME: ajuster la taille */
.rubric sup {
    font-size: 7pt;
    padding-left: .125em;
    position: relative;
    top: -3.4pt;
    line-height: 0pt;
}

/* Exposant dans le texte */
/* FIXME: ajuster la taille */
.rubric a > sup {
    font: 6pt/0 'Alfphabet';
    padding-left: .125em;
    // vertical-align: super;
    line-height: 0pt;
}

/**
 * Pull out
 */

.rubric .pull-out {
  margin: (@line-height * 1)  0;
  position: relative;
  z-index: 1000;
}
.rubric .pull-out > blockquote {
  width: 100%;
  margin: 8pt 0;
}

.rubric .pull-out > blockquote > p {
    font-family: 'Career';
    font-size: 14pt;
    line-height: @line-height * 1.25;
    letter-spacing: -.035em;
}
.rubric .pull-out > blockquote > p em { font-style: normal; } /* Do not put in italic pull-out quotations */

.rubric .pull-out > blockquote footer {
    font: 9pt/@line-height 'Erbarre';

    margin-top: 3pt;
}

/**
 * Footnotes
 */
.rubric .footnotes {
    padding-left: @line-height;

    /* TODO: Align on the bottom of the column */
}





/**
 * #INVESTIGATION
 */

/* HEADLINE and SUBTITLE */
/* 2 types d'enquetes: enquete--long et enquete--short (ex: Le silence du tram) */
/* utiliser class="enquete enquete--short" */

.enquete {
    font: 9pt/@line-height 'Century Schoolbook';

    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
    -webkit-hyphenate-limit-after:  3; /* 3 caractères minimum en début de ligne, donc en fin de mot */
    -webkit-hyphenate-limit-lines:  3; /* 3 lignes consecutives max */
}

.enquete .headline,
.enquete .subhead {
    font-family: 'Erbarre';
    font-weight: bold;
    text-transform: uppercase;
}

.enquete .headline {
    margin: (@line-height * .5) 0 @line-height;
}

.enquete .subhead {
    font-size: 18pt;
    line-height: @line-height * 2;

    margin-top: @line-height / 2;
    margin-bottom: @line-height / 2;
}

.enquete .header-byline {
    font: 18pt 'Erbarre';
    font-weight: bold;
    line-height: (@line-height/4) *6;
    margin-bottom: @line-height;
}

.enquete .lead {
    font: 15pt 'Bagnard';
    line-height: @line-height * 1.5;
    margin-bottom: @line-height;
    letter-spacing: -0.01em;
}

.enquete header + p::first-letter {
    font-family: 'Erbarre';
    font-weight: bold;
    /* -webkit-initial-letter: 5; */
    /* padding-right: 1em; */
    font-size: @line-height * 6.6;
    line-height: @line-height * 4.9;
    position: relative;
    top: .6em;
    float: left;
    height: @line-height * 5;
    padding-right: .1em;
}

.enquete > h2 {
    font: bold @line-height/@line-height 'Erbarre';

    position: relative;
    top: @line-height * .5 * -1;

    letter-spacing: .02em;
    text-transform: uppercase;
}



/**
 * Pull out quotes
 */

.enquete .pull-out {
    font-family: 'Erbarre';

    margin: (@line-height * 2) 0 (@line-height * 2) -@col-gutter-width;
}

.enquete .pull-out > blockquote > p {
    font-size: 18pt ;
    font-weight: bold;
    line-height: @line-height * 1.5;
}

.enquete .pull-out > blockquote > footer {
    font-size: 12pt;
    line-height: @line-height;

    margin-top: 6pt;
}
/* FIXME: exposants dans les footnotes (ex. Mons) */

.enquete > p:last-of-type::after {
    font: 6.5pt 'Medor';
    content: ' \00A0\E011';
}


.enquete > figure + h2,
.enquete > p + h2 {
    margin-top: @line-height * 2;
}

.enquete > figure + p:not(.lead),
.enquete > p:not(.lead) + p { text-indent: @line-height; }

/*  Appels de notes */
/*  FIXME: ajuster la taille */
.enquete sup {
    font-size: 7pt;
    line-height: 0;

    top: 2px;

    padding-left: .125em;

    vertical-align: super;
}

/**
 * Making-of enquêtes
 */
.enquete .making-of {
    font-family: 'Alfphabet';

    margin-top: 2 * @line-height;
    padding-top: @line-height - 4pt;

    border-top: 4pt double;
}

.enquete .making-of h1 { font-size: @line-height; }
.enquete .making-of h1 em {
    font-family: 'Medor';
    font-size: 9.5pt;

    text-transform: uppercase;
}

.enquete--long > header h1 {
    font-size: @line-height * 6;
    line-height: @line-height * 5;
}





/**
 * #PORTFOLIO
 *
 * 1. We specify line-height without unit so it scales with the font-size in
 *    case we redefine it.
 */


/* ORGANISATION IMAGE? */
.walf {
    width: -webkit-calc(~"50% - 6pt"); /* For older webkits */
    width: calc(~"50% - 6pt");
}

/* HEADLINE */
.photo .headline {
    font: bold 60pt / 0.8 'Erbarre'; /* [1] */
    color:white;
    text-align: center;
    text-transform: uppercase;
}
/*  FIXME: decide if we put the name of the photograph or the subhead under the */
.photo .subhead,
.photo .header-byline { text-align: center; color:white; }

.photo .subhead { font: bold 36pt / 36pt 'Erbar condensed';}
.photo .header-byline { font: bold 18pt / 18pt 'Erbar condensed';}

.photo{
  font-family: 'Erbarre';
  font-size: 13pt;
  line-height: 15pt;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
  -webkit-hyphenate-limit-after:  3; /* 3 caractères minimum en début de ligne, donc en fin de mot */
  -webkit-hyphenate-limit-lines:  3; /* 3 lignes consecutives max */
}

.photo .lead{
  font-weight: bold;
  font-size:18pt;
  line-height: 20pt;
  margin-bottom: 18pt;
}

.photo > h2 {
  font-weight: bold;
  margin-top: 18pt;
}

.photo header + p::first-letter {
}

.photo > p {
}

.photo > p + p { text-indent: @line-height; }

/*  FIXME: ajuster la taille */
.photo sup {
    font-size: 0.75em;
    line-height: 0;

    padding-left: .125em;

    vertical-align: super;
}

/* Exposant dans le texte */
/*  FIXME: ajuster la taille */
.photo a > sup {
    font: 6pt/0 'Alfphabet';

    padding-left: .125em;

    vertical-align: super;
}

.photo em {
    font-style: italic;  /* do not use italic at all */
    // color: @color-ete-sapin;
}

.photo .footnotes { padding-left: @line-height; }
/* IMAGE */
.photo figcaption {
    font-family: 'Nobel' ;
    font-size: 8pt;
    font-weight: 300;
    line-height: 9pt;
}
/*  The "titles" of the pictures */
/*  It was used in the first and second issues */
.photo figcaption strong {
    font-family: 'Belgika5th';
    font-size: 6.5pt;
    line-height: 8pt;

    display: inline;

    letter-spacing: 0;
    text-transform: uppercase;
    -webkit-font-feature-settings: 'liga' 0;
            font-feature-settings: 'liga' 0;
}

.photo figcaption em {
    font-style: italic;
    color: inherit;
}

/**
 * Style "Point de vue"
 */

.photo .sidebar h1 {
    font-size: 14pt;
    line-height: 24pt;
    font-weight: bold;
}

.photo .sidebar p {
    font-family: 'Erbarre';
    font-size: 10pt;
    line-height: 12pt;
    letter-spacing: .002em;
}

.photo .sidebar footer {
  font-family: 'Erbarre';
  font-weight: normal;
  font-style: normal;
}
/*Ajouter un filet  */

/**
 * #PORTRAIT
 */
.portrait  .headline {
    font-family: 'career';
    font-size: 33pt;
    line-height: @line-height/12*39;

    margin-top: 16pt;

    text-align: center;
    text-transform: uppercase;
}
/* SPAKER NAME */
.portrait .subhead {
    font-family: 'career';
    font-size: 21pt ;
    line-height: @line-height*2.5;

    text-align: center;
    text-transform: none;
}
/* AUTHORS  + PHOTOGRAPH/ILLUSTRATOR */
.portrait  .header-byline {
    font-family: 'Century Schoolbook', serif;
    font-size: 10pt;
    line-height: @line-height /12 * 14;

    text-align: center;
}

.portrait .lead {
    font-family: 'Erbarre';
    font-size: 14.5pt;
    line-height: @line-height / 3 * 4;

    padding-right: 12pt;
    padding-left: 24pt;

    text-align: left;
}

.portrait h2 {
    font-family: 'Erbarre';
    font-size: @line-height;
    font-weight: bold;
    line-height: @line-height;

    position: relative;

    letter-spacing: .02em;
    text-transform: uppercase;
}

/* FIXME: Is it really used? */
.portrait h3 {
    font-family: 'Erbarre' ;
    font-size: 12pt;
    line-height: @line-height;

    margin-top: @line-height;

    text-transform: uppercase;
}

.portrait > p {
  font: 9pt/@line-height 'Century Schoolbook';
    position: relative;
}

.portrait > p + p {
    text-indent: 9pt;
}

.portrait header + p::first-letter {
    font-family: 'Erbarre';
    font-size: @line-height * 3.325;
    font-weight: bold;
    line-height: @line-height * 3;

    position: relative;
    top: .04em;

    float: left;

    height: @line-height * 3;
    padding-right: .125em;
}


/*  FIXME: ajuster la taille */
.portrait sup {
    font-size: 7pt;
    line-height: 0;
    padding-left: .125em;
    position: relative;
    top: -3pt;
}

/*  FIXME: ajuster la taille */
.portrait sup {
    font-size: 7pt;
    line-height: 0;

    top: 2px;

    padding-left: .125em;

    vertical-align: super;
}

.portrait .pull-out blockquote {
    font-family: 'Century Schoolbook', serif;
    font-size: 14.5pt;
    line-height: @line-height *1.4;

    padding: 5px; /* pixel ou point? */
    padding-left: 2pt;

    outline: 3px solid white;/* Pixel ou point?*/
    background-color: white;
}

.portrait .pull-out blockquote footer {
    font-size: 9pt;
    line-height: @line-height;

    margin-top: 3pt;
}

.portrait .pull-out blockquote footer:before { font-size: 9pt; }

.portrait .pull-out blockquote footer em {
    font-style: italic;
    font-family: "Century Schoolbook"
}

.portrait > p:last-of-type::after {
    font: 6.5pt 'Medor';
    content: ' \00A0\E011';
}

/**
 * FIXME: remove or rename
 */
.portrait .encadre h1 {
    font-family: 'Bagnard' ;
    font-size: 1.9em ;
    line-height: 15.5pt;
    margin-bottom: 6px;  /*Pixel ou point?*/
    text-align: center;
    letter-spacing: .005em;
}

.portrait .encadre p {
    font-family: 'Erbarre' ;
    font-size: 9.5pt;
    line-height: 11.5pt ;

    letter-spacing: .002em;
}
.portrait .encadre p > em {
    font-family: 'Erbarre' ;

    letter-spacing: .02em;
}
.portrait .encadre > p.footer-byline strong {
    font-family: 'Erbarre';
    font-size: 11pt;
    font-weight: bold;
    line-height: 12pt ;
    letter-spacing: .003em;
}





/**
 * #INTERVIEW
 */

.interview {
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
    -webkit-hyphenate-limit-after:  3; /* 3 caractères minimum en début de ligne, donc en fin de mot */
    -webkit-hyphenate-limit-lines:  3; /* 3 lignes consecutives max */
}

.interview .headline {
    font-family: 'Alfphabet';
    font-size: 37pt;

    text-align: center;
    text-transform: uppercase;
}

.interview .subhead {
    font-family: 'Erbarre';
    font-size: 18pt;
    font-weight: bold;
    line-height: @line-height * 1;
    margin-top: @line-height;
    text-align: center;
    text-transform: uppercase;
}

.interview .header-byline {
    font-family: 'alfphabet';
    font-size: 8.5pt;
    text-align: center;
}
.interview .lead {
  margin: 0 0 @line-height;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
    -webkit-hyphenate-limit-after:  2; /* 3 caractères minimum en début de ligne, donc en fin de mot */
    -webkit-hyphenate-limit-lines:  3; /* 3 lignes consecutives max */
}
.interview .lead p {
    font-family: 'bagnard';
    font-size: 10.5pt;
    line-height: 14pt;
}
.interview .lead p + p {
    text-indent: @line-height;
}
.interview .lead::first-letter {
    font-family: 'career';
    font-size: 60pt;
    line-height: @line-height * 2.2;

    position: relative;

    float: left;

    height: 31.4pt;
    padding-top: 12.5pt;
    padding-right: 8pt;
    padding-bottom: 5pt;
}

.interview > h2 {
    font-size: inherit;
    line-height: inherit;

    margin-bottom: @line-height;
}

/* FIXME: is it really used? */
.interview h3 {
    font-family: 'Alfphabet';
    font-size: 8pt;
    font-weight: normal;

    margin-top: @line-height;

    text-align: center;
}

.interview > p {
    font-family: 'Century Schoolbook';
    font-size: 9pt;
    line-height: @line-height;
    position: relative;
}

/* FIXME: prefix with pull-out class */
.interview blockquote p {
    font-family: 'Alfphabet';
    font-size: 19pt;
    line-height: 19pt;

    width: 101%;
    margin-top: 24pt;
    margin-bottom: 24pt;
}

.interview blockquote p {
    text-indent: 0;
}

.colright .pull-out blockquote {
    margin-left: -32pt;
}
.colleft .pull-out blockquote {
    margin-right: -32pt;
}

.interview .pull-out > blockquote footer {
    font-family: 'alfphabet';
    font-size: 9pt;
    line-height: @line-height;

    margin-top: 3pt;
}

/* Speaker style */
.interview > p > abbr {
    font-family: 'Alfphabet';
    font-size: 7.5pt;
    padding: 0 8pt 0 0;
    margin: 0pt;
    line-height: 0pt;
}

.interview .question {
    font-family: 'bagnard';
    line-height: 12pt;
    margin: 0;
    font-size: 9pt;
}

.interview .question + p {
     margin-top: 0;
}


.interview sup {
    font-size: 0.667em;
    line-height: 0;
    vertical-align: super;
    padding-left: .125em;
}

/* Exposant dans le texte */
/* FIXME: ajuster la taille */
.interview a > sup {
    font: 6pt/0 'Alfphabet';
    padding-left: .125em;
    vertical-align: super;
}





/**
 * Styles Moment flamand
 */

.flamand {
  font: 9pt/@line-height 'Century Schoolbook';
    position: relative;
}

.flamand .headline,
.flamand .subhead {
    font-family: 'Bagnard';
    font-weight: bold;
    text-transform: uppercase;
}

.flamand .headline {
    font-size: 42pt;
    line-height: 45pt; /* FIXME: a revoir */
    text-align: left;
}

.flamand .headline > em {
    letter-spacing: -.12em;
}

.flamand .subhead {
    font-size: 18pt;
    line-height: @line-height;

    margin-top: @line-height;
}

.flamand .lead,
.flamand .lead > em {
    font-family: 'Century Schoolbook';
    font-size: 14pt ;
    line-height: @line-height * 1.4;
    display: inline;
    margin: 0 0 @line-height * 2;
}


/* Exposant dans le texte */
/*  FIXME: ajuster la taille */
.flamand a > sup {
    font-size: .75em;
    padding-left: .125em;
    top: 1pt;
}

.flamand .header-byline {
    font-family: 'Alfphabet';
    font-size: 12pt;
    font-weight: 400;
    line-height: (@line-height / 12) * 16;

    padding-right: 147pt;

    text-align: left;
}

.flamand > p {
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 2; /* 2 caractères minimum en fin de ligne, donc en début de mot */
    -webkit-hyphenate-limit-after:  3; /* 3 caractères minimum en début de ligne, donc en fin de mot */
    -webkit-hyphenate-limit-lines:  3; /* 3 lignes consecutives max */
}

.flamand header + p::first-letter{
    font-family: 'Alfphabet';
    font-size: 42pt;
    line-height: 40pt;
    position: relative;
    top: .08em;
    float: left;
    height: 34pt;
    padding-right: .15em;
}
.flamand > figure + p:not(.lead),
.flamand > p:not(.lead) + p { text-indent: @line-height; }

.flamand > h2 {
    font-family: 'Alfphabet' ;
    font-size: 10.5pt ;
    line-height: @line-height ;
    margin-top: 12pt ;
    text-align: left;
    position: relative;
    text-transform: uppercase;
}

.flamand > p:last-of-type::after {
    font: 6.5pt 'Belogodor';
    content: ' \00A0\E977';
}

/*  FIXME: ajuster la taille */
.flamand sup {
    font-size: 7pt;
    line-height: 0;

    top: 2px;

    padding-left: .125em;

    vertical-align: super;
}



/**
 * TODO: rename of remove
 */
.flamand .encadre h1 {
    font-family: 'alfphabet';
    font-size: 12pt;
    line-height: 12.5pt ;

    text-align: left;
    text-transform: uppercase;
}
.flamand .encadre > p {
    font-family: 'Erbarre' ;
    font-size: 9.5pt;
    line-height: 11.5pt ;
    letter-spacing: .002em;
}
.flamand .encadre > p:first-of-type {
    margin-top: @line-height/3;
}
.flamand .encadre p strong {
    font-family: 'Erbarre' ;
    font-size: 9.5pt ;
    font-weight: bold;
    line-height: 0 ;
    text-transform: uppercase;
}

.flamand .encadre p > em {
    font-family: 'Erbarre' ;
    line-height: 12pt ;

    letter-spacing: .003em;
}

.flamand .pull-out  blockquote {
    font: 12pt 'Bagnard';
    line-height: @line-height * 1.2 ;

    display: block;

    margin: @line-height 0;

    text-indent: 0;
    letter-spacing: -.002em;
}

.flamand .pull-out > blockquote > footer {
    font-size: 9pt;
    line-height: @line-height;
    margin-top: 3pt;
}





/**
 * #NOMBRIL
 */

.nombril {
    font: 8.5pt/12pt 'Bagnard';
    letter-spacing: -.02em;
}

.nombril .header-byline,
.nombril .rubrique-title,
.nombril .rubrique-subtitle { display: none; }
/*  TODO: hide footer too? */

.nombril .headline {
    font: 48pt/36pt 'Alfphabet-Condensed';
    letter-spacing: 0;
}

.nombril .lead {
    font-size: 12pt;
    line-height: 15pt;
    margin-bottom: 12pt;
}

.nombril > p + p {
    text-indent: 12pt;
}
.nombril > p:not(.lead) {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  }
.nombril li {
    font-size: 8pt;
    font-family: 'Alfphabet';
    letter-spacing: -0.03em;
    line-height:10pt;
    text-indent:-12pt;
    margin-left: 12pt;
    margin-top:6pt;
}
.nombril li::before {
  content: "— "
}
