@import '../../../css/main.less';


#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
}
#flow-main .footnotes li {
    .flow-into(flow-fn);
}
.flow-fn {
    .flow-from(flow-fn);
}


/* reset folio */
/*body { counter-reset: folio 1 - 1; }*/


/*footer,*/
/*header content*/
.paper:nth-child(odd) .body:before { content: 'Édito'; }



article > p:last-of-type::after {
    content: '\00A0\E87D';
}

